<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>
    <strong>Name: </strong>
    <code><%= userAgentInfo.name %></code>
  </p>
  <p>
    <strong>Version: </strong>
    <code><%= userAgentInfo.version %></code>
  </p>
  <p>
    <strong>Version number: </strong>
    <code><%= userAgentInfo.versionNumber %></code>
  </p>
  <p>
    <strong>Mobile: </strong>
    <code><%= userAgentInfo.mobile %></code>
  </p>
  <p>
    <strong>OS: </strong>
    <code><%= userAgentInfo.os %></code>
  </p>
</body>
</html>